$breadcrumb-divider: "›";
$breadcrumb-divider-rtl: "‹";

$gu-blue: #003865;
$gu-blue-border: #011A31;

$gu-blue-dark: #061D38;

$gu-background: #e2e5e7;
$gu-island-back: #fff;
$gu-island-border: #d3d8dc;

$flat-blue: #3498DB;
$flat-blue-dark: #2980B9;
$flat-turquoise: #1ABC9C;
$flat-turquoise-dark: #16A085;

$brand-primary: $gu-blue;

$font-family-sans-serif: "Ubuntu", "Trebuchet MS", Arial, sans-serif;

$body-bg: $gu-background;

$spacer: 20px;
$border-width: 1px;
$navbar-height: 55px;
$footer-min-height: 155px;

$card-border-radius:       4px;
$card-border-color:        $gu-island-border;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $flat-blue;
$btn-primary-border:             $flat-blue-dark;

$btn-secondary-color:              #fff;
$btn-secondary-bg:                 $flat-turquoise;
$btn-secondary-border:             $flat-turquoise-dark;

$message-sent-background: #B9E6F9;
$message-sent-border: #A3CADB;

$message-received-background: #DFEFD1;
$message-received-border: #C2E3A5;

body {
    font-weight: 300;
}

h1 {
    font-size: 1.4em !important;
}

h2 {
    font-size: 1.3em !important;
}

h3 {
    font-size: 1.2em !important;
}

h4 {
    font-size: 1.1em !important;
}

.card-title {
    font-size: 1em;
}

header.navbar {
    background-color:$gu-blue;
    border-bottom: $border-width solid $gu-blue-border;
}

header .navbar-brand {
    text-indent: -1000em;
    background-image: url([[pix:theme|gu-logo]]);
    background-repeat: no-repeat;
    width: 111px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    header .navbar-brand {
        background-image: url([[pix:theme|gu-logo-retina]]);
        background-size: 111px 35px;
    }
}

body#page-login-index {
    background-image: url([[pix:theme|login-background]]);
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media (min-width:1921px) or (min-height:1081px) {
    body#page-login-index {
        background-attachment: inherit;
        background-size: cover;
    }
}

body#page-login-index #page-footer {
    background-color: rgba(226, 229, 231, 0.7);
}

body#page-login-index .card-block {
    background-color: rgba(255, 255, 255, 0.5);
}

body#page-login-index #page {
    margin-top: 0;
    padding-top: 55px;
}

#region-main-settings-menu.has-blocks, #region-main.has-blocks {
    width: calc(100% - 270px) !important;
}

#page-header {
    margin-left: -20px;
    margin-right: -20px;
    
    .card {
        margin-bottom: 0;
    }
}

#page.container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#nav-drawer {
    background-color: #C5C7CA;
}

header .navbar-nav {
    padding-left: 0;
    padding-right: 0;
}

header .usermenu .dropdown-toggle {
    color: $gu-background;
}

#page-login-index #page-footer {
    margin-top: -250px;
}

#page-login-index #page-footer {
    background-color: $gu-background;
    margin-top: -190px;
}

#page-footer .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

footer .glasgow {
	color: $gu-blue;
	margin: 0;
	margin-bottom: 10px;
}

footer p {
	margin-bottom: 10px;
	color: $gu-blue;
}

footer .container-fluid {
	margin-top: 0;
}

footer h3 {
    font-weight: 500;
    font-size: 20px;
}

.footer-links h4 {
	padding: 0;
	font-size: 1em;
	line-height:19px;
	vertical-align: baseline;
	color: $gu-blue;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	margin-bottom: 10px;
}

.footer-links ul {
	margin: 0;
	margin-bottom: 20px;
	padding-left: 0;
}

.footer-links ul:last-child {
	margin-bottom: 0;
}


.footer-links li {
	display: block;
	margin-bottom: 5px;
}

.message .content.right {
    background-color: $message-sent-background;
    border-color: $message-sent-border;
}

.message .content.left {
    background-color: $message-received-background;
    border-color: $message-received-border;
}

// This gets rid of the annoying padding on the Dashboard

.block_course_overview .content {
    margin: 0;
}

.block_course_overview .course_list .box.coursebox {
    margin: 0;
    padding: 0 !important;
    margin-bottom: 20px;
}

#region-main > .card, #page-enrol-users #region-main > #filterform, .path-calendar .maincalendar #region-main > .calendar-event-panel, .block .calendar-event-panel #region-main > .yui3-overlay-content, .que #region-main > .history, .userprofile .profile_tree #region-main > section, #region-main > .groupinfobox, #region-main > .forumpost, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #region-main > .yui-layout-unit-right, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #region-main > .yui-layout-unit-bottom, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages #region-main > .chat-message.course-theme, #region-main > .well {
    min-height: 0;
}